doctype html
html(lang="en")
  head
    title= title
    meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='keywords' content=metaKeywords)
    meta(name='description' content=metaDescription)

    style.
      body {
        width: 100%;
        margin: 0;
      }
      #react-root {
        width: 100%;
      }
  body
    div(id='react-root')
  script(type='text/javascript' src= xBundleUri)
